<a href="https://colab.research.google.com/github/mustaphakamal/MLProject-/blob/main/Part1MLFinal.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
!curl -O https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Wireless_v1_00.tsv.gz

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1625M  100 1625M    0     0  43.9M      0  0:00:37  0:00:37 --:--:-- 46.4M

In [4]:
!echo "y" | gzip -d amazon_reviews_us_Wireless_v1_00.tsv.gz

In [14]:
import pandas as pd

In [37]:
df = pd.read_table('amazon_reviews_us_Wireless_v1_00.tsv', delim_whitespace=False, error_bad_lines=False, header= 0, nrows=4000, skiprows=range(1,10000))
df.head()

  marketplace  ...  review_date
0          US  ...   2015-08-31
1          US  ...   2015-08-31
2          US  ...   2015-08-31
3          US  ...   2015-08-31
4          US  ...   2015-08-31

[5 rows x 15 columns]

In [38]:
#check to see data types and/or missing data. Star_rating and review_body of relevence.
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4000 entries, 0 to 3999
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   marketplace        4000 non-null   object
 1   customer_id        4000 non-null   int64
 2   review_id          4000 non-null   object
 3   product_id         4000 non-null   object
 4   product_parent     4000 non-null   int64
 5   product_title      4000 non-null   object
 6   product_category   4000 non-null   object
 7   star_rating        4000 non-null   int64
 8   helpful_votes      4000 non-null   int64
 9   total_votes        4000 non-null   int64
 10  vine               4000 non-null   object
 11  verified_purchase  4000 non-null   object
 12  review_headline    4000 non-null   object
 13  review_body        3998 non-null   object
 14  review_date        4000 non-null   object
dtypes: int64(5), object(10)
memory usage: 468.9+ KB

In [39]:
df.isnull()

      marketplace  customer_id  ...  review_body  review_date
0           False        False  ...        False        False
1           False        False  ...        False        False
2           False        False  ...        False        False
3           False        False  ...        False        False
4           False        False  ...        False        False
...           ...          ...  ...          ...          ...
3995        False        False  ...        False        False
3996        False        False  ...        False        False
3997        False        False  ...        False        False
3998        False        False  ...        False        False
3999        False        False  ...        False        False

[4000 rows x 15 columns]